<h2>Active your account</h2>

<p>
    Dear <%= name %> </br>

    To verify your email, click on this link: <a href="<%= link %>" rel="noreferrer" target="_blank">link</a> </br>
    If you did not create an account, then ignore this email.</br>
</p>

