note-app/package-lock.json
note-app/node_modules/
weather-app/node_modules/
weather-app/package-lock.json
web-server/node_modules/
web-server/package-lock.json
task-manager/node_modules/
task-manager/package-lock.json
task-manager/.env
account-service/.env
account-service/package-lock.json
account-service/node_modules/
user-service/package-lock.json
user-service/node_modules/
